
.about-page {
    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 50%;
        vertical-align: middle;
        display: table-cell;
        max-height: 90%;

        h1 {
            font-size: 50px;
            font-family: monospace;
            color: azure;
            font-weight: 400;
            margin-top: 0;
            position: relative;
            margin-bottom: 40px;
            left: 10px;
            animation: fadeIn 1s 0.7s backwards;
        }

        p {
            font-size: 17.5px;
            font-weight: 450;
            color:black;
            margin-left: 10px;
            min-width: fit-content;
            line-height: 30px;
            animation: fadeIn 1s 1.2s backwards;

            .bolded { 
                font-weight: bold;
             }
        }
    }   
}
.wave-container2 {
    position: absolute;
    top: 16%;
    display: flex;
}

.waveUpsidedown {
    transform: scale(-3.4)
}